~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
The following is a security report from SSL Labs for the {{ endpoint_count }} endpoint(s) associated with {{ host }}.
{% if bad_endpoints|length > 0 %}
The following endpoints failed to return results:
{%- for endpoint in bad_endpoints %}
{% if "serverName" in endpoint %}{{ endpoint.serverName }} ({{ endpoint.ipAddress }}){% else %}{{ endpoint.ipAddress }}{% endif %}
{%- endfor %}{% endif %}
{% if good_endpoints|length > 0 %}
Grades for endpoints that returned results:
{%- for endpoint in good_endpoints %}
{% if "serverName" in endpoint %}{{ endpoint.serverName }} ({{ endpoint.ipAddress }}){% else %}{{ endpoint.ipAddress }}{% endif %}: {{ endpoint.grade }}
{%- endfor %}{% endif %}
{% if raw_results %}
Raw results of the security query:
{{ results }}{% endif %}
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~